<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SCM System</title>
    <script src="https://kit.fontawesome.com/75dd3c0b94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}" href="/css/reset-css.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-nav">
        <a class="navbar" href="/"><img alt="logo" src="/img/logo.jpg" class="logo"></a>
        <!--        <a class="nav-link text-white active h5" href="/">SCM System</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto col-12 justify-content-end" sec:authorize="!isAuthenticated()">
                <li class="nav-item justify-content-end">
                    <a class="nav-link text-white active h5" th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item justify-content-end">
                    <a class="nav-link text-white active h5" th:href="@{/users/register}">Register</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto col-12 justify-content-between" sec:authorize="isAuthenticated()">
                <!--                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">-->
                <!--                    <a class="nav-link text-white active h5 dropdown-toggle" href="/" id="navbarDropdown" role="button"-->
                <!--                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--                        Admin-->
                <!--                    </a>-->
                <!--                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                <!--                                            <a class="dropdown-item" th:href="@{/statistics}">Statistics</a>-->
                <!--                                        </div>-->
                <!--                </li>-->
                <li class=" nav-item ">
                    <a class="nav-link text-white active h5" th:href="@{/reports/send}">Safety Report</a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link text-white active h5" th:href="@{/audits/add}">Audit Report</a>
                </li>
                <li class=" nav-item ">
                    <a class="nav-link text-white active h5" th:href="@{/nonconformities/add}">Nonconformity</a>
                </li>
                <li class="nav-item">
                    <!--/TODO -->
                    <a class="nav-link text-white active h5" th:href="@{/dashboard}">Personal Dashboard</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link text-white active h5" th:href="@{/users/role-update}" >Update Role</a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link text-white active h5" th:href="@{/users/profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/users/logout}" th:method="post">
                        <input class="btn btn-outline-light" type="submit" value="Logout">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<footer th:fragment="footer">
    <div class="container-fluid text-center">
        <div class="footer-background h5">
            &copy; Aviation Safety & Compliance Solutions. All rights reserved.
            <ul>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>