<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navbar"></header>
<main>
    <div class="container">
        <h3 class="text-center mt-2"><span class="badge badge-dark">Update Audit Report</span></h3>
        <hr class="hr-3 col-md-8 bg-white"/>
        <form class="mx-auto col-md-8 d-flex flex-column justify-content-center bg-blur rounded"
              th:method="patch"
              th:action="@{/audits/{id}/update(id=*{id})}"
              th:object="${auditUpdateBindingModel}">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center h6 mb-2 text-white" for="refNumber">Reference №</label>
                    <input th:field="*{refNumber}" th:errorclass="is-invalid" name="refNumber" id="refNumber" type="text" class="form-control"
                           placeholder="Audit ref. number"/>
                    <small class="invalid-feedback text-danger">Ref. number is required</small>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center h6 mb-2 text-white" for="topic">Topic</label>
                    <input th:field="*{topic}" th:errorclass="is-invalid" name="topic" id="topic" type="text" class="form-control"
                           placeholder="Topic"/>
                    <small class="invalid-feedback text-danger">Topic is required</small>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center h6 mb-2 text-white" for="department">Department</label>
                    <select th:errorclass="is-invalid" id="department" name="department" class="form-control">
                        <option value="">- Select a department -</option>
                        <option th:each="d : ${departments}"
                                th:value="${d}"
                                th:text="${d}"
                                th:selected="${d} == *{department}">Department
                        </option>
                    </select>
                    <small class="invalid-feedback text-danger">Department is required</small>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center h6 mb-2 text-white" for="status">Status</label>
                    <select th:errorclass="is-invalid" name="status" id="status" class="form-control">
                        <option value="">- Select status of audit report -</option>
                        <option th:each="s : ${status}"
                                th:value="${s}"
                                th:text="${s}"
                                th:selected="${s} == *{status}">Department
                        </option>
                    </select>
                    <small class="invalid-feedback text-danger">Audit report status is required</small>
                </div>
            </div>
            <div class="form-group">
                <label class="text-white font-weight-bold" for="conclusion">Conclusion</label>
                <textarea th:field="*{conclusion}" th:errorclass="is-invalid" name="conclusion" id="conclusion" type="textarea"
                          class="form-control" rows="5"
                          placeholder="Conclusion"></textarea>
                <small class="invalid-feedback text-danger">Conclusion is required</small>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center h6 mb-2 text-white" for="nonconformity">Number of nonconformities</label>
                    <input th:field="*{numberNonconformities}" th:errorclass="is-invalid" name="numberNonconformities" id="nonconformity" type="number" min="0" max="100" step="1" class="form-control"
                           placeholder="Nonconformity"/>
                    <small class="invalid-feedback text-danger">Number of nonconformities is required</small>
                </div>
<!--                <div class="form-group col-md-6 mb-3">-->
<!--                    <label class="text-white font-weight-bold" for="evidence">Upload evidence</label>-->
<!--                    <input id="evidence" type="url" class="form-control"-->
<!--                           placeholder="Upload evidence">-->
<!--                    <small class="invalid-feedback text-danger">Evidence are required.</small>-->
<!--                </div>-->
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn mb-3 btn-primary" value="Submit">Update Audit Report</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>