<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navbar"></header>

<main>
    <div class="container bg-blur rounded mt-5 mb-4">
        <h1>Personal Dashboard/ Personal Corner</h1>
        <div class="row mt-3 mb-3">
            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">Safety reports</h3>
                <div th:each="" th:object="" class="mt-3 rounded badge-info">
                    <img class="mr-2" th:src="" alt="safetyReport" width="50px" height="50px">
                    <span th:text="|Ref. '№':  Topic:  Send by:  Send on:  Status: |"></span>
                    <a class="ml-3 text-danger" th:href="">Details</a>
                    <a th:href="" class="button prBtn">Progress</a>
                </div>
            </div>
            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">Audit reports</h3>
                <div th:each="" th:object="" class="mt-3 rounded badge-info">
                    <img class="mr-2" th:src="" alt="auditReport" width="50px" height="50px">
                    <span th:text="|Ref. '№':  Topic:  Performed by:  Status: |"></span>
                    <a class="ml-3 text-danger" th:href="">Details</a>
                    <a th:href="" class="button prBtn">Progress</a>
                </div>
            </div>
            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">Nonconformities</h3>
                <div th:each="" th:object="" class="mt-3 rounded badge-info">
                    <img class="mr-2" th:src="" alt="nonconformity" width="50px" height="50px">
                    <span th:text="|Ref. '№':  Level:  Raised by:  Status: |"></span>
                    <a class="ml-3 text-danger" th:href="">Details</a>
                    <a th:href="" class="button prBtn">Progress</a>
                </div>
            </div>
        </div>
        <a th:href="" class="btn btn-danger" th:text="|Close all pending items|"></a>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>