<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navbar"></header>
<main>
    <div class="container bg-blur rounded mt-5">
        <h1>Safety & Compliance Monitoring System</h1>
        <hr class="my-3 bg-white w-50"/>
        <p class="h4">Safety is the number one aviation priority!</p>
        <p class="h4">It is always the responsibility of every employee to report all issues that could affect
            safety.</p>
        <p class="h4">No disciplinary or punitive action will be taken against the reporter or other individuals
            involved
            unless, such errors result from illegal activity.</p>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
