<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SCM System</title>
    <script src="https://kit.fontawesome.com/75dd3c0b94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}" href="/css/reset-css.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav">
        <a class="navbar" href="/"><img alt="logo" src="/static/img/logo.jpg" class="logo"></a>
        <!--        <a class="nav-link text-white active h5" href="/">SCM System</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" sec:authorize="!isAuthenticated()"
                       th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" sec:authorize="!isAuthenticated()"
                       th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <!--                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                    <!--                        <a class="dropdown-item" th:href="@{/statistics}">Statistics</a>-->
                    <!--                    </div>-->
                </li>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item col-md-4">
                        <!--/TODO -->
                        <a class="nav-link text-white active h5" href="/">Home</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <!--/TODO -->
                        <a class="nav-link text-white active h5" href="/">Profile</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" th:href="@{/users/audit-add}">Add Audit Report</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" th:href="@{/users/report-send}">Send Safety Report</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/">Logout</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</header>
<main>
    <h3 class="text-center mt-2"><span class="badge badge-dark">Login</span></h3>
    <hr class="hr-3 col-md-4 bg-white"/>
    <form class="mx-auto col-md-4 d-flex flex-column justify-content-center bg-blur rounded"
          th:method="post"
          th:action="@{/users/login}">
        <p>
        <h6 class="text-danger new-line">Incorrect username or password!</h6>
        </p>
        <div class="form-group">
            <label class="text-center h6 mb-2 text-white" for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username"/>
<!--            <small class="invalid-feedback text-danger">Username length must be between 3 and 20 characters</small>-->
        </div>
        <div class="form-group">
            <label class="text-center h6 mb-2 text-white" for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password"/>
<!--            <small class="invalid-feedback text-danger">Password length must be between 3 and 20 characters</small>-->
        </div>



        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn mb-3 btn-primary" value="Login">Login</button>
        </div>

    </form>
</main>

<footer>
    <div class="container-fluid text-center">
        <div class="footer-background h5">
            &copy; Aviation Safety & Compliance Solutions. All rights reserved.
            <ul>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>
