<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navbar"></header>
<main>
    <div class="container">
        <h2 class="text-center mt-2"><span class="badge badge-dark">Update Nonconformity</span></h2>
        <hr class="hr-3 col-md-8 bg-white"/>
        <form class="mx-auto col-md-8 d-flex flex-column justify-content-center bg-blur rounded"
              th:method="patch"
              th:action="@{/nonconformities/{id}/update(id=*{id})}"
              th:object="${nonconformityUpdateBindingModel}">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center h6 mb-2 text-white" for="refNumber">Reference №</label>
                    <input th:field="*{refNumber}" th:errorclass="is-invalid" name="refNumber" id="refNumber"
                           type="text" class="form-control"
                           placeholder="Nonconformity Reference Number"/>
                    <small class="invalid-feedback text-danger">Ref. number is required</small>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center h6 mb-2 text-white" for="auditRefNumber">Audit Reference №</label>
                    <select th:errorclass="is-invalid" id="auditRefNumber" name="auditRefNumber" class="form-control">
                        <option value="">- Audit Reference Number -</option>
                        <option th:each="audit : ${auditsModels}"
                                th:text="${audit.refNumber}"
                                th:value="${audit.refNumber}"
                                th:selected="${audit.refNumber} == *{auditRefNumber}">Audit
                        </option>
                    </select>
                    <small class="invalid-feedback text-danger">Audit Reference number is required</small>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center h6 mb-2 text-white" for="level">Level of nonconformity</label>
                    <select th:errorclass="is-invalid" id="level" name="level" class="form-control">
                        <option value="">- Select level of nonconformity -</option>
                        <option>Level of nonconformity</option>
                        <option th:each="levelNC : ${level}"
                                th:value="${levelNC}"
                                th:text="${levelNC}"
                                th:selected="${levelNC} == *{level}">Level Nonconformity
                        </option>
                    </select>
                    <small class="invalid-feedback text-danger">Level of nonconformity is required</small>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center h6 mb-2 text-white" for="status">Status</label>
                    <select th:errorclass="is-invalid" id="status" name="status" class="form-control">
                        <option value="">- Select status of nonconformity -</option>
                        <option th:each="statusNC : ${status}"
                                th:value="${statusNC}"
                                th:text="${statusNC}"
                                th:selected="${statusNC} == *{status}">Status Nonconformity
                        </option>
                    </select>
                    <small class="invalid-feedback text-danger">Nonconformity status is required</small>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="raisedDate" class="text-white font-weight-bold">Raised Date</label>
                    <input th:field="*{raisedDate}" th:errorclass="is-invalid" name="raisedDate" type="date" class="form-control" id="raisedDate"/>
                    <small class="invalid-feedback text-danger">Date that cannot be in the future</small>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="closureDate" class="text-white font-weight-bold">Closure Date</label>
                    <input th:field="*{closureDate}" th:errorclass="is-invalid" name="closureDate" type="date" class="form-control" id="closureDate"/>
                    <small class="invalid-feedback text-danger">Date that cannot be in the past</small>
                </div>
            </div>
            <div class="form-group">
                <label class="text-white font-weight-bold" for="description">Description</label>
                <textarea th:field="*{description}" th:errorclass="is-invalid" name="description" id="description" type="textarea" class="form-control" rows="5"
                          placeholder="Description"></textarea>
                <small class="invalid-feedback text-danger">Description is required</small>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn mb-3 btn-primary" value="Submit">Update Nonconformity</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>