<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navbar"></header>
<main>
    <h2 class="text-center mt-2"><span class="badge badge-dark">Profile</span></h2>
    <hr class="hr-3 col-3 bg-white"/>
    <form class="mx-auto col-3 justify-content-center bg-blur rounded"
          th:object="${userProfile}">
        <div class="card bg-dark" style="width: auto;">
            <div class="text-center"><img th:src="*{profilePhoto.url}" class="card-img-top rounded-circle" alt="profilePhoto"></div>
            <div class="card-body border-white">
                <h5 class="card-title" th:text="|Full name: *{firstName} *{lastName}|">Full name</h5>
<!--                <h6 class="card-title" th:text="|  |">Role</h6>-->
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark" th:text="|Company Position: *{companyPosition}|">Company Position:</li>
                <li class="list-group-item bg-dark" th:text="|Username: *{username}|">Username:</li>
                <li class="list-group-item bg-dark" th:text="|Company Email: *{email}|">Company Email:</li>
            </ul>
            <div class="card-body">
                <a th:href="@{/}" class="btn btn-primary">Back</a>
            </div>
        </div>
    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>