<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SCM System</title>
    <script src="https://kit.fontawesome.com/75dd3c0b94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}" href="/css/reset-css.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav">
        <a class="navbar" href="/"><img alt="logo" src="/img/logo.jpg" class="logo"></a>
        <!--        <a class="nav-link text-white active h5" href="/">SCM System</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">Login</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">Register</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">Home</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">Profile</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">Assign Audit</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">All Audits</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">All Nonconformities</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">Send Report</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">All Reports</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <h3 class="text-center mt-2"><span class="badge badge-dark">Profile</span></h3>
    <hr class="hr-3 col-md-3 bg-white"/>
    <form class="mx-auto col-md-3 justify-content-center bg-blur rounded" method="" action="/">
        <div class="card bg-dark" style="width: 24rem;">
            <div class="text-center"><img src="..." class="card-img-top rounded-circle" alt="..."></div>
            <div class="card-body border-white">
                <h5 class="card-title" th:text="|  |">Full name</h5>
                <h6 class="card-title" th:text="|  |">Role</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark" th:text="|Company Position:|">Company Position:</li>
                <li class="list-group-item bg-dark" th:text="|Username:|">Username:</li>
                <li class="list-group-item bg-dark" th:text="|Company Email:|">Company Email:</li>
            </ul>
            <div class="card-body">
                <a href="#" class="btn btn-primary">Back</a>
            </div>
        </div>
    </form>

    <!--    <div class="container mt-5">-->
    <!--        <div class="row d-flex justify-content-center">-->
    <!--            <div class="col-md-7">-->
    <!--                <div class="profile-card p-3 py-4">-->
    <!--                    &lt;!&ndash; Profile photo &ndash;&gt;-->
    <!--                    <div class="text-center"><img src="" width="100" class="rounded-circle"></div>-->
    <!--                    &lt;!&ndash; Personal info &ndash;&gt;-->
    <!--                    <div class="text-center mt-3" th:object="">-->
    <!--                        <span class="bg-secondary p-1 px-4 rounded text-white" th:text="">Company Position</span>-->
    <!--                        <h5 class="mt-4 mb-0">First name</h5>-->
    <!--                        <span th:text="">First name</span>-->
    <!--                        <h5 class="mt-4 mb-0">Last name</h5>-->
    <!--                        <span th:text="">Last name</span>-->
    <!--                        <h5 class="mt-2 mb-0">Username</h5>-->
    <!--                        <span th:text="">Username</span>-->
    <!--                        <h5 class="mt-2 mb-0">Company Email</h5>-->
    <!--                        <span th:text="">Company Email</span>-->
    <!--                        <h5 class="mt-2 mb-0">System Role</h5>-->
    <!--                        <span th:text="">System Role</span>-->
    <!--                        <div class="buttons">-->
    <!--                            <button class="btn btn-outline-primary px-4">Back</button>-->
    <!--                            &lt;!&ndash;                            <button class="btn btn-primary px-4 ms-3">Contact</button>&ndash;&gt;-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</main>
<footer>
    <div class="container-fluid text-center">
        <div class="footer-background h5">
            &copy; Aviation Safety & Compliance Solutions. All rights reserved.
            <ul>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>