<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SCM System</title>
    <script src="https://kit.fontawesome.com/75dd3c0b94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}" href="/css/reset-css.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav">
        <a class="navbar" href="/"><img alt="logo" src="/img/logo.jpg" class="logo"></a>
        <!--        <a class="nav-link text-white active h5" href="/">SCM System</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">Login</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">Register</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">Home</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">Profile</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">Assign Audit</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">All Audits</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">All Nonconformities</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">Send Report</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">All Reports</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container-fluid">
        <h3 class="text-center mt-2"><span class="badge badge-dark">Safety Report Details</span></h3>
        <hr class="hr-3 col-md-5 bg-white"/>
        <form class="mx-auto col-md-4 d-flex flex-column justify-content-center bg-blur rounded" method="" action="/">

            <h5 class="card-title" th:text="|Safety Report Ref. №: |">Safety Report Ref. №:</h5>
            <hr class="hr-3 col-md-11 bg-white"/>

            <div class="card-text"><span th:text="|Topic: |">Topic:</span></div>
            <div class="card-text"><span th:text="|Send by: |">Send by:</span></div>
            <div class="card-text"><span th:text="|Time of occurrence: |">Time of occurrence:</span></div>
            <hr class="hr-3 col-md-11 bg-white"/>

            <div class="card-text"><span th:text="|Description: |">Description:</span></div>
            <hr class="hr-3 col-md-5 bg-white"/>

            <div class="row justify-content-center">
                <div class="form-group col-md-3 mb-3">
                    <a class="btn mb-3 btn-success" th:href="">Update</a>
                </div>

                <div class="form-group col-md-3 mb-3">
                    <form th:action="" th:method="delete">
                        <input type="submit" class="btn mb-3 btn-danger" value="Delete">
                    </form>
                </div>
            </div>


            <!-- Look in gallery html code for Pathfinder -->


            <section class="evidence">
                <h2 class="text-center text-white mt-5">Evidence</h2>
                <img th:each="" th:src="" width="200px" height="200px" alt="">
            </section>

            <!-- for one picture evidence

            <div th:object=""
                 class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
                <img class="card-img-top" th:src="*{getImageUrl()}" alt="Car image">
            </div>

            -->
        </form>
    </div>
</main>
<footer>
    <div class="container-fluid text-center">
        <div class="footer-background h5">
            &copy; Aviation Safety & Compliance Solutions. All rights reserved.
            <ul>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>