<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navbar"></header>
<main>
    <div class="container">
        <h3 class="text-center mt-2"><span class="badge badge-dark">Safety Report</span></h3>
        <hr class="hr-3 col-md-8 bg-white"/>
        <form class="mx-auto col-md-8 d-flex flex-column justify-content-center bg-blur rounded" method="" action="/">

            <div class="form-group">
                <label class="text-center h6 mb-2 text-white" for="topic">Topic</label>
                <input id="topic" type="text" class="form-control"
                       placeholder="Topic"/>
                <small class="invalid-feedback text-danger">Topic is required</small>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="occurrenceDate" class="text-center h6 mb-2 text-white">Occurrence Date</label>
                    <input th:field="" th:errorclass="" type="datetime-local" class="form-control" id="occurrenceDate"
                           name="occurrenceDate"/>
                    <small class="invalid-feedback text-danger">Date and Time, that cannot be in the future</small>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center h6 mb-2 text-white" for="evidence">Upload evidence</label>
                    <input id="evidence" type="url" class="form-control"
                           placeholder="Upload evidence">
                    <small class="invalid-feedback text-danger">Evidence are required.</small>
                </div>
            </div>
            <div class="form-group">
                <label class="text-center h6 mb-2 text-white" for="description">Description</label>
                <textarea id="description" type="textarea" class="form-control" rows="5"
                          placeholder="Description"></textarea>
                <small class="invalid-feedback text-danger">Description is required</small>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn mb-3 btn-primary" value="Submit">Submit Safety Report</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>