<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Safety & Compliance Monitoring System</title>
    <link rel="stylesheet" th:href="@{../static/css/main.css}" href="../static/css/main.css">
    <script src="https://kit.fontawesome.com/75dd3c0b94.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

</head>
<body>
<header th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Assign Audit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">All Audits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">All Nonconformities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Send Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">All Reports</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Nonconformity Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div th:object=""
             class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">

            <div class="card-body pb-1">
                <h5 class="card-title" th:text="">
                    Nonconformity Reference №</h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span th:text="|Raised by: |">Raised by</span></div>
                    <div class="card-text"><span th:text="|Level: |">Level</span></div>
                    <div class="card-text"><span th:text="|Raised date: |">Raised date</span></div>
                    <div class="card-text"><span th:text="|Closure date: |">Closure date</span></div>
                    <div class="card-text"><span th:text="|Status: |">Closure date</span></div>
                    <div class="card-text"><span th:text="|Releted audit ref.: |">Audit reference</span></div>
                    <div class="card-text"><span th:text="|Description: |">Description</span></div>
                </li>
            </ul>
            <div class="card-body">
                <div class="row">
                    <a class="btn btn-link" th:href="">Update</a>

                    <form th:action="" th:method="delete">
                        <input type="submit" class="btn btn-link" value="Delete">
                    </form>
                </div>
            </div>
        </div>

        <!-- Look in gallery html code for Pathfinder -->


        <section class="evidence">
            <h2 class="text-center text-white mt-5">Evidence</h2>
            <img th:each="" th:src="" width="200px" height="200px" alt="">
        </section>

        <!-- for one picture evidence

        <div th:object=""
             class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img class="card-img-top" th:src="*{getImageUrl()}" alt="Car image">
        </div>

        -->
    </div>
</div>

</body>
<footer th:fragment="footer" class="footer">
    <div class="container-fluid text-center">
        <div class="footer h5">
            &copy; Safety & Compliance Services. All rights reserved.
        </div>
    </div>
</footer>
</html>